[submodule "TVBOX/DATA/ZTHA000"]
	path = TVBOX/DATA/ZTHA000
	url = https://github.com/ZTHA000/tvbox.git
[submodule "TVBOX/DATA/jackson0829"]
	path = TVBOX/DATA/jackson0829
	url = https://github.com/jackson0829/jackson0829.github.io.git
[submodule "TVBOX/DATA/mao"]
	path = TVBOX/DATA/mao
	url = https://agit.ai/66666/mao.git
[submodule "TVBOX/DATA/FongMi"]
	path = TVBOX/DATA/FongMi
	url = https://github.com/FongMi/CatVodSpider.git
[submodule "TVBOX/DATA/dxawi"]
	path = TVBOX/DATA/dxawi
	url = https://github.com/dxawi/0.git
[submodule "TVBOX/DATA/xmbjm/vip"]
	path = TVBOX/DATA/xmbjm/vip
	url = https://github.com/xmbjm/vip.git
[submodule "TVBOX/DATA/xmbjm/svip"]
	path = TVBOX/DATA/xmbjm/svip
	url = https://github.com/xmbjm/svip.git
[submodule "TVBOX/DATA/gaotianliuyun/gao"]
	path = TVBOX/DATA/gaotianliuyun/gao
	url = https://github.com/gaotianliuyun/gao.git
